<!DOCTYPE html>
<html>
  <head>
    <title>サインイン</title>
  </head>
  <body>
    <h1>サインインです</h1>
    <p>
    <%= link_to "Topへ", root_path, class: "btn btn-lg btn-primary" %>
    </p>
  </body>
</html>