<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Topページです</h1>
    <p>
      topです
      <%= link_to "サインイン", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
  </body>
</html>