<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <%= react_component('App') %>
    <h1>Topページです</h1>
    <p>topです</p>

  </body>
</html>